.container {
    height: 400px;
    background-color: darkgrey;
}

.distantWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.proposition {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 50px;
}

.button {
    font-weight: bold;
}